version: "3.9"

services:
    app:
        image: mcr.microsoft.com/devcontainers/base:ubuntu
        volumes:
            - ..:/workspaces/${LOCAL_WORKSPACE_FOLDER_BASENAME:-game-library}:cached
        command: sleep infinity
        environment:
            - LOCAL_WORKSPACE_FOLDER_BASENAME=${LOCAL_WORKSPACE_FOLDER_BASENAME:-game-library}
        depends_on:
            postgres:
                condition: service_healthy

    postgres:
        image: postgres:16-alpine
        restart: unless-stopped
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ./sql:/docker-entrypoint-initdb.d:ro
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 5s
            timeout: 5s
            retries: 10

volumes:
    postgres-data:
